*{
    margin: 0;
    padding: 0;
    font-style: inherit;
    color: black;
    font-family: sans-serif;
}
body{
    position: relative;
}
.top{
    position: fixed;
    flex-basis: 100%;
    z-index: 9;
    width: 100%;
    height: 140px;
    background-color: rgb(255, 255, 255);
    
}
header .first {
    width: 100%;
    height: 50px;
   border-bottom: solid 0.1px rgb(207, 207, 207);
}
header .first ul {
    display: flex;
    gap: 1rem;
    align-items: center; /*vertically centered*/
    justify-content: center;
    height: 50px;
    font-size: 12px;
}
header .first ul li {
    list-style-type: none;
}
.location-img-left {
    width: 13px;
}
.location-btn{
    color: white;
    background-color: rgb(33, 33, 33);
    width: 100px;
    height: 34px;
    border-radius: 17px;
    border: none;
}

/* second header*/

.second {
    width: 100%;
    height: 90px;
    display: flex;
    margin-top: 13px;
   justify-content: space-evenly;
   
}

.second-left ul , .second-right ul{
    display: flex;
    align-items: center;
    

}
.second-left ul {
    margin-top: 16px ;
    margin-right: 700px; /*this deside space between center of second header */
    font-size: 0.8em;
    font-weight: 600;
}
.second-left ul li , .second-right ul li{
    list-style-type: none;
    margin: 12px;
}
.second-left ul li a{
    color: black;
    text-decoration: none;
}


.second-right {
    font-size: 0.7em;
    font-weight: 600;
}
.second-right ul :nth-child(2) {
    width:60px;
    border-right: solid 1px rgb(0, 0, 0);
}

/* Black Box*/
.section-2{
    width: 100%;
    padding-top: 140px;
}

.black-box {
    background-color: rgb(29, 29, 29);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 1000;
}

.black-box .inside-black-box1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    color: aliceblue;
    margin-right: 30px;
}

.black-box .black-btn {
    color: rgb(230, 230, 230);
    background-color: rgb(233, 0, 0);
    height: 40px;
    width: 130px;
    border-radius: 25px;
    border: none;
}
.black-box .black-btn:hover {
    color: rgb(255, 253, 253);
    background-color: rgb(255, 1, 1);
}
/* welcome */

.welcome {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    height: 120px;
    background-color: rgb(242, 242, 242);
}
.top-three-line {
    height: 100px;
    margin-left: 11rem;
    margin-top: -4px;
    align-self: flex-start;
}
.top-three-line .red{
    position: relative;
    display: inline-block;
    height: 20px;
    background-color: red;
    width: 8px;
    margin-right: 5px;
}
.welcome p {
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: -3px;
    margin-left: 170px;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 40px;
}

/* second section */

.container {
    padding-left: 18rem;
    padding-right: 5rem;
    padding-top: 4rem;
    height: 700px;
}
.cat-top {
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
}
.cat-top li p {
    font-size: large;
}
.line{
    margin-left: 2rem;
    align-self: flex-end;
    width: 30rem;
    border-top: solid rgb(229, 229, 229);
}
.row-box1 , .row-box2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box{
    margin-bottom: 1rem;
    width: 280px;
    height: 250px;
    background-color: rgb(235, 235, 235);
}

.box-img {
    width: 280px;
    border-radius: 4px;
    
}
.box-name {
    font-weight: 900;
    display: flex;
    background-color: rgb(235, 235, 235);
    height: 50px;
    align-items: center;
    justify-content: center;
}


/*last section*/


.last-section {
    width: 100%;
    height: 100px;
    background-color: rgb(31, 31, 31);
}

.three-line{
    display: flex;
    gap: 1rem;
    margin-left: 15rem;
}

.three-line .red-line{
    background-color: red;
    width: 15px;
    height: 60px;
}
/* offer and deals */
.ofer-deals{
    display: flex;
    flex-basis: 100%;
    height: 150px;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(31, 31, 31);
    gap: 280px;
}
.ofer-deals h1 , .ofer-deals p{
    color: white;
}

.ofer-deals h1{
    font-size: 30px;
    font-weight: 900;
}

/* scroll box */
.scroll-box-parent {
    display: flex;
    gap: 40px;
    justify-content: center;
    background-color: rgb(31, 31, 31);
}
.scroll-box-parent .scroll-box {
    width: 300px;
    height: 396px;
    background-color: rgb(227, 224, 224);
    border-radius: 13px;
}

.scroll-box .scroll-img {
    width: 300px;
    border-radius: 12px;
}
.scroll-box {
    display: flex;
    flex-direction: column;

}
.scroll-text {
    height: 90px;
    padding: 10px;
}
.scroll-box h1 {
    text-align: center;
    color: rgb(216, 2, 2);
}
.scroll-box p {
    font-size: 16px;
}
.scroll-box-last {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.scroll-box-last a {
    color: rgb(70, 69, 69);
    text-decoration: underline;
}

.scroll-box-last button {
    width: 130px;
    height: 47px;
    border-radius: 2rem;
    box-shadow: 0 0 0 0;
    border: 0.5px groove black;
}
.scroll-box-last button:hover {
    background-color: black;
    color: white;
}
.arrow1 ,.arrow2 {
    position: relative;
    top: 130px;
    width: 50px;
    height: 50px;
    background-color: rgba(153, 153, 153, 0.8);
    border-radius: 50px;
    border: none;
    cursor: pointer;

}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
.arrow1:hover, .arrow2:hover {
    background-color: white;
}

.scroll-box-parent .arrow1 {
    left: 30px;
    
}
.scroll-box-parent .arrow2{
   
   left: 1260px;
}


/* footer Section */

.footer-container {
    display: flex;
    flex-basis: 100%;
    padding-top: 80px;
    height: 270px;
    background-color: rgb(31, 31, 31);
    justify-content: flex-end;
    align-items: flex-start;
    gap: 50px;

}
/* .footer-container .footer-logo , .footer-container .footer-right{
    align-self: flex-start;
} */

.footer-center table tr td , a{
    text-decoration: none;
    color:white;
    font-size: 12px;
}
.footer-center table tr td {
    font-size: 12px;
}
.footer-center table{
    width: 600px;
    height: 130px; 
}

.footer-right table{
    width: 600px; 
}
.store{
    width: 120px;
    margin: 9px;
}

.foot-contact {
    padding-left: px;
    background-color: rgb(31, 31, 31);
    width: 100%;
}
.foot-contact , .social-icons ul{
    display: flex;
    list-style-type: none;
}
.foot-contact .copy-right {
    padding-left: 160px;
    width: 90%;
    height: 40px;
    text-align: center;
    font-size: 0.6em;
    margin-top: 4px;
}
.foot-contact .copy-right p {
    color: white;
}
.foot-contact .social-icons{
  width: 20%;
}
.foot-contact .social-icons a{
    margin: 5px;
}

